header {
  
  background: url('https://www.oncovia.com/themes/theme_nq/css/../img/backgrounds/or-pink-header.jpg') top center repeat;

  .nav-toggle {

    .account-container {
      margin: 0 auto;
      border-top: #7d7d7d solid 1px;
      width: 100%;
      max-width: $nav-width;
      height: $nav-height + 1px;

      .account {
        float: right;

        ul {
          display: block;
          line-height: $nav-height;
          padding: 0;
          margin: 0;
          list-style: none;

          li{
            position: relative;
            float: left;

            &.link-dropdown {

              &:hover {
                
                .nav-dropdown {
                  display: block;
                }

              }

            }

            &:not(:first-child) {
              text-transform: uppercase;
            }

            &:nth-child(1) {
              background-color: $nav-background;
            }

            &:nth-child(2) {
              background-color: #fecbb4;
            }

            &:nth-child(3) {
              background-color: #95d5d6;
            }

            &:nth-child(4) {
              background-color: white;

              a {
                color: #7d7d7d;

                &:after {
                  content: ' ▾';
                  padding-right: 0.5rem;
                }

              }
            }

            &:nth-child(5) {
              border-left: #7d7d7d solid 1px;
              background-color: white;

              a {
                color: #7d7d7d;

                &:after {
                  content: ' ▾';
                  padding-right: 0.5rem;
                }

              }

            }

            a {
              text-decoration: none;
              color: $nav-font-color;
              padding: 0 10px;

              &:hover {
                cursor: pointer;
              }

            }

            .login {
              position: absolute;
              width: 300px;
              box-shadow: $boxshadow-value;
              margin-left: -173px;
              text-align: center;

              input {
                line-height: 2.15;
                border-radius: 25px;
                border: 1px grey solid;
                width: 12rem;

                &::placeholder {
                  padding-left: 25px;
                }

              }

              input:nth-child(1) {
                margin-bottom: 5px;
              }

              input:nth-child(2) {
                margin-bottom: 1rem;
              }

              button {
                text-transform: uppercase;
                @include red-border();
                @include btn-oncovia('../img/btn-yellow.jpg', white);
              }

              hr {
                margin: 1rem;
              }

              button:last-child {
                margin-bottom: 1.5rem;
              }

              a {
                color: $yellow;
                text-decoration: underline;
              }

            }

            .nav-dropdown {
              display: none;
              position: absolute;
              box-shadow: $boxshadow-value; 

              li {
                padding-left: 9px;
                display: block;
                width: 100%;
                background: white;
              }

            }

          }

        }

      }

    }

  }

}


@media screen and (max-width: $breakpoint) {
  .account {
    display: none;
  }
}