header {

  .nav-toggle {
    background: url('https://www.oncovia.com/themes/theme_nq/css/../img/backgrounds/or-pink-header.jpg') top center repeat;

    .account-container {
      margin: 0 auto;
      border-top: #7d7d7d solid 1px;
      width: 100%;
      max-width: $nav-width;
      height: $nav-height + 1px;

      .account {
        float: right;

        ul {
          display: block;
          line-height: $nav-height;
          padding: 0;
          margin: 0;
          list-style: none;

          li{
            position: relative;
            float: left;

            a {
              font-size: 2rem;
              font-family: 'yokomizo';
            }

            &.link-dropdown {

              &:hover {
                
                .nav-dropdown {
                  display: block;

                  input {
                    display: block;
                  }
                }

              }

            }

            &:not(:first-child) {
              text-transform: uppercase;
            }

            &:nth-of-type(1) {
              background-color: $nav-background;
              a {
                color: $font-beige;
                font-size: 1.4rem;
              }
            }

            &:nth-of-type(2) {
              background-color: #fecbb4;
            }

            &:nth-of-type(3) {
              background-color: #95d5d6;
            }

            &:nth-of-type(4) {
              background-color: white;

              a {
                color: #7d7d7d;

                &:after {
                  content: ' ▾';
                  padding-right: 0.5rem;
                }

              }
            }

            &:nth-of-type(5) {
              border-left: #7d7d7d solid 1px;
              background-color: white;

              a {
                color: #7d7d7d;

                &:after {
                  content: ' ▾';
                  padding-right: 0.5rem;
                }

              }

            }

            a {
              text-decoration: none;
              color: $nav-font-color;
              padding: 0 10px;

              &:hover {
                cursor: pointer;
              }

            }

            .login {
              position: absolute;
              width: 300px;
              box-shadow: $boxshadow-value;
              margin-left: -213px;
              text-align: center;
              background: white;

              .container {

                input {
                  line-height: 2.15;
                  border-radius: 25px;
                  border: 1px grey solid;
                  width: 12rem;

                  &::placeholder {
                    padding-left: 25px;
                  }

                }

                input:nth-of-type(1) {
                  margin-bottom: 5px;
                }

                input:nth-of-type(2) {
                  margin-bottom: 1rem;
                }

                button {
                  text-transform: uppercase;
                  @include red-border();
                  @include btn-oncovia('../img/btn-yellow.jpg', white);
                }

                hr {
                  margin: 1rem;
                }

                button:last-child {
                  margin-bottom: 1.5rem;
                }

                a {
                  color: $yellow;
                  text-decoration: underline;
                }
                
              }

            }

            .nav-dropdown {
              display: none;
              position: absolute;
              box-shadow: $boxshadow-value; 
              z-index: 1;

              .login {
                
              }

              li {
                padding-left: 9px;
                display: block;
                width: 100%;
                background: white;
              }

            }

          }

        }

      }

    }

  }

  .nav-container {
    width: $nav-width;
    margin: 0 auto;

    .search-container {
      border-bottom: 1px solid $font-beige;
      margin-left: 13rem;

      .logo {
        position: absolute;
        background: url('../img/sprite.png') top left no-repeat;
        width: 206px;
        height: 202px;
        top: 0;
        left: 3rem;
      }

      .row:nth-of-type(1) {
        padding-top: 1.8rem;
        display: relative;

        .support {
          position: relative;
          padding-left: 6rem;
          text-align: center;
          margin-top: 0.6rem;

          i {
            font-size: 5rem;
            position: absolute;
            top:-0.7rem;
            left:10rem;
          }

          span {
            font-size: $font-size-nav;

            &:nth-of-type(1) {
              display: inline-block;
              border-bottom: 1px solid black;
              text-transform: uppercase;
            }

            &:nth-of-type(2) {
              display: block;
            }

          }

        }

      }

      .search {
        padding-left: 3rem;

        input {
          min-width: 320px;
          height: 48px;
          border: 1px $font-beige solid;
          border-radius: 2.5rem;
          background: $light-beige;
          font-size: $font-size-nav;
          font-style: italic;

          &::placeholder {
            padding-left: 2rem;
            color: $font-beige;
          }

          &:focus {
            outline: none;
          }
        }

      }

      .cart {
        text-align: right;
        margin-top: 1.5rem;
        position: relative;

        .cart-container {

          span {
            font-size: $font-size-nav;
            text-transform: uppercase;
            margin-right: 5rem;
          }

          i {
            font-size: 5rem;
            position: absolute;
            top:-1.8rem;
            right:0;
          }
          
        }


      }

    }

  }

}


@media screen and (max-width: $breakpoint) {
  .account {
    display: none;
  }
}