$nav-width: 1210px;
$breakpoint: 768px;
$nav-background: #feebe2;
$nav-height: 35px;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
$yellow: #fcb637;
$boxshadow-value: -1px 1px 5px #888888;
$font-beige: #f7c3ac;