$nav-width: 121rem;
$breakpoint: 768px;
$nav-background: #feebe2;
$nav-height: 28px;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
$yellow: #fcb637;
$boxshadow-value: -1px 1px 5px #888888;
$font-beige: #f7c3ac;
$light-beige: #fff6f2;
$font-size-nav: 1.7rem;